 .header .navbar-default {
  background: none;
  }
  body {
      position: relative; 
  }
  #section41 {padding-top:50px;height:950px;}
  #section42 {padding-top:100px;height:900px;color: #fff; background-color: #000000;}
  .img1{
  	max-width: 70%;
  	margin-right: auto;
  	margin-left: auto;
  	text-align:center;
  	display: block;
  }
  #section41 > .jumbotron{
  	background-color: white;
  	color : black;
  	z-index: -3;
  }
  .front1{
	left:50%; 
	transform:translateX(-50%);
  }
  .cusor{
  	height:100%;
  }